<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is secretary page</title>
</head>


      <div class="process">
        <h6>Under Process</h6>
        <%for(var i=0;i<grievance_under_process.length;i++){ %>
              <center>  <div class="card" width="50%" >
                    <%=grievance_under_process[i]['_id']%>
                <form action="/under_process/<%=grievance_under_process[i]['_id']%>" method="POST">
            
                    <button type="submit" >Click to changes status</button>
                </form>
                <br>
                </center>
                </div>
            <%}%>
            
      </div>

      <div class="unresolved">
        <h6>New Grievance</h6>
        <%for(var i=0;i<grievance_untouched.length;i++){ %>
              <center>  <div class="card" width="50%" >
                    <%=grievance_untouched[i]['_id']%>
                <form action="/under_process/<%=grievance_untouched[i]['_id']%>" method="POST">
            
                    <button type="submit" >Click to changes status</button>
                </form>
                
                

                </center>
                </div>
            <%}%>
            
      </div>

      <div class="solved">
        <h6>Recieved from Committe</h6>
        <%for(var i=0;i<grievance_recieved.length;i++){ %>
              <center>  <div class="card" width="50%" >
                    <%=grievance_recieved[i]['_id']%>
                <form action="/under_process/<%=grievance_recieved[i]['_id']%>" method="POST">
      
                    <button type="submit" >Click to changes status</button>
                    
                </form>
  
                    <form action="/commit/<%=grievance_recieved[i]['_id']%>" method="POST">
                        <button type="submit" class="waves-effect waves-light btn red" >Commit</button>
                    </form>
    
                </center>
                </div>


            
            <%}%>
            
      </div>

    

        <form action="/logout" method="POST"> <button type="submit">Logout</button> </form>
    <a href="/display">Show documents</a>
        
        
    


    <%-include('partials/materialize.ejs')%>

    
</body>
</html>